//Customer specific values (should not be used other than in THIS file)
$cWhite: #FFF3E5;
$cLtBrown: #D9CFC3;
$cMedBrown: #8C8070;
$cDarkBrown: #40372C;
$cSlateBlue: #70828C;
$cDarkSlateBlue: #263640;
$cLtBrownOpac: rgba(217, 207, 195, .5);
$cError: #F00;
$cCorrect: #008400;
$cMissed: #F00;
$ffAlmendra: 'Almendra SC', 'serif';
$ffHandlee: 'Handlee', 'cursive';

$cOne: $cLtBrown;
$cTwo: $cSlateBlue;
$cThree: $cDarkSlateBlue;
$cFour: $cWhite;
$ffOne: $ffAlmendra;
$ffTwo: $ffHandlee;